
  
header {
    padding: 2rem 0;
    background-color: #302e2e;
    color: #e2e2e2;
}

header a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #343434;
    font-weight: 600;
    transition: all 0.3s ease;
    
    &:hover {
        color: #007bff;
        transform: translateX(-5px);
    }

    &::before {
        content: '← ';
        margin-right: 0.5rem;
    }
}

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  header a {
    color: #e8e5e5;
    text-decoration: none;
  }
  main {
    margin-top:10%;
  }
  
  section.add {
    margin-top: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input, select, textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }

  #phone, #email {
    width: 48%;
  }
  
  #photo {
    margin-bottom: 20px;
  }
  
  input{
    width: 100%;
  }
