

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #001972;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

header .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header .container li {
    margin-right: 20px;
    color: white;
}

header a {
    text-decoration: none;
    color: #000;
    color: white;
    
}
.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0; 
    padding: 20px;
    border-radius: 10px; 
    margin-top: 30px;
  }
  .slide h3 {
    font-size: 24px;
    padding: 5px;
  }
  
  img {
    width: 100%;
    max-height: 300px; 
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .animal {
    display: flex;
    flex-direction: column;
  }
  
  p {
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  button {
    background-color: #3d9bff; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
  }
.short-search {
    background-color: #d7d9ff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

select {
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    font-size: 16px;
}
option {
    padding: 10px;
    background-color: #f0f0f0;
    color: #444;
}
.facts {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -6px 8px 23px 11px rgba(34, 60, 80, 0.16);
  -moz-box-shadow: -6px 8px 23px 11px rgba(34, 60, 80, 0.16);
  box-shadow: -6px 8px 23px 11px rgba(34, 60, 80, 0.16);
}

.facts h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.facts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.facts li {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.facts-pr {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 20px; 
  text-align: center;
}

.facts-pr i {
  font-size: 32px;
  margin-bottom: 10px;
  color: #007bff;
}

.facts-pr h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #444;
}
.search{
  padding: 96px 0px;
  

}
.search .container {
  display: flex;
  gap: 96px;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 26px 23px 11px rgba(34, 60, 80, 0.16);
  -moz-box-shadow: 0px 26px 23px 11px rgba(34, 60, 80, 0.16);
  box-shadow: 0px 26px 23px 11px rgba(34, 60, 80, 0.16);
}
.search form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reviews h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}
